<div class="card mx-auto bg-dark mb-3 text-light">
    <div class="card-header">
        Gestionar Pelicula
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h5 class="card-title">Registrar Pelicula</h5>
                <form id="formulario-registrar-pelicula">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Codigo</span>
                        </div>
                        <input type="number" class="form-control" required minlength="5" id="codigo"
                            placeholder="5100" aria-label="Sizing example input" 
                            aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Titulo</span>
                        </div>
                        <input type="text" id="titulo" class="form-control" required minlength="4" name="titulo"
                            placeholder="Son como niños 2" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Duracion</span>
                        </div>
                        <input type="text" id="duracion" class="form-control" required name="duracion"
                            placeholder="Duracion de la pelicula" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default"> 
                    </div> 
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Año</span>
                        </div>
                        <input type="number" id="anio" class="form-control" required name="anio"
                            placeholder="2014" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default"> 
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Genero</span>
                        </div>
                        <select class="form-select form-select-lg" id="genero" size="3"
                            aria-label="size 3 select example" name="nro_genero">
                            <option selected disabled>Selecciona un Genero</option>
                            {{#each lista_generos}}
                            <option value="{{nro}}">{{nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#exampleModal2" onclick="registrarPelicula()">
                        Registrar
                    </button>
                </form>
            </div>
            <div class="col-md-8">
                <h5 class="card-title">Lista de Peliculas</h5>
                <table class="table table-striped table-dark table-responsive">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Titulo</th>
                            <th>Duracion</th> 
                            <th>Año</th> 
                            <th>Genero</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each lista_pelicula}}
                        <tr>
                            <th>{{codigo}}</th>
                            <th>{{titulo}}</th>
                            <th>{{duracion}}</th>
                            <th>{{anio}}</th>
                            <th>{{nombre_genero}}</th>
                            <td> 
                                <a href="/registrar_pelicula/{{codigo}}" type="button"
                                    class="btn btn-outline-primary btn-sm"><small>Modificar</small>
                                </a>
                                <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                    data-target="#exampleModal" onclick="eliminarPelicula({{codigo}})"><span
                                        class="material-icons">
                                        Eliminar
                                    </span>
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!-- Button trigger modal -->
            <!-- ELIMINAR -->
            <div class="modal fade transform-8" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark text-light">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="recipient-name">Esta seguro de eliminar la pelicula? </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" onclick="confirmarEliminacion()"
                                data-dismiss="modal">Eliminar
                                Pelicula</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- REGISTRAR -->
            <div class="modal fade transform-8" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark text-light">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="recipient-name">Esta seguro de registrar la pelicula? </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-warning" onclick="confirmarRegistrarPelicula()"
                                ondblclick="confirmarRegistrarPelicula()" data-dismiss="modal">Registrar
                                Pelicula</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script> 

    var data = {
        codigo: undefined,
        titulo: undefined,
        duracion: undefined,
        anio: undefined,
        genero: undefined, 
    };

    function registrarPelicula() {
        data.codigo = document.getElementById("codigo").value; 
        data.titulo = document.getElementById("titulo").value; 
        data.duracion = document.getElementById("duracion").value;
        data.anio = document.getElementById("anio").value;
        data.genero = document.getElementById("genero").value; 
        console.log(data.codigo, data.titulo, data.duracion, data.genero);
    }

    function confirmarRegistrarPelicula() {
        if (data.codigo && data.titulo && data.duracion && data.anio && data.genero) {
            let { codigo,titulo,duracion, anio, genero } = data;
            axios.post('/registrar_pelicula', { 
                codigo,
                titulo,
                duracion,
                anio,
                nro_genero: genero, 
            }).then(function (response) {
                window.location.reload();
            }).catch(function (error) {
                alert("Hubo un error al registrar la pelicula");
            });
        } else {
            alert("Datos obtenidos no correctos")
        }
    }

    function eliminarPelicula(codigo) {
        data.codigo = codigo;
        console.log("confirmar", codigo);
    }

    function confirmarEliminacion() {
        if (data.codigo === undefined || data.codigo === 0) {
            alert("no puedo eliminar este codigo");
        } else {
            axios.delete('/registrar_pelicula/eliminar/' + data.codigo).then(function (response) {
                window.location.reload();
            }).catch(function (error) {
                alert("Hubo un error al eliminar la pelicula");
            });
        }
    }
 

</script>